main {
  background-color: black;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

.img {
  height: 300px;
}

.card {
  width: 100%;
}

#carouselExampleIndicators {
  margin-top: 5rem;
}

#myCarousel {
  position: relative;
}

.carousel-item {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.text-container {
  flex-grow: 1;
  padding: 20px;
  color: white;
  text-align: center;
}

.text-container h3 {
  margin-top: 0;
}

p {
  font-size: x-large;
  margin-left: 3rem;
  margin-right: 3rem;
}

.carousel-content img {
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
}

.carousel-item.active {
  display: flex;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

/* Estilos de los indicadores */
#carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

#carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#carousel-indicators li.active {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos de los controles */
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.carousel-control-prev {
  left: 20px;
}

.sd {
  opacity: 0.6;
  position: fixed;
  width: 96%;
  height: 10%;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/238/569/165/beautiful-dark-evening-galaxy-wallpaper-preview.jpg);
  top: 99%;
  transform: translateY(-50%);
  z-index: 9999;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.cc {
  width: 30px;
  height: 30px;
  padding-left: 65px;
  padding-right: 65px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}

.cc:hover {
  opacity: 1;
}

/* Media Queries para dispositivos móviles */

@media (max-width: 767px) {
  .carousel-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container {
    padding: 20px;
    text-align: left;
    padding-top: 4rem;
  }

  .carousel-item {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .carousel-inner {
    max-width: 100%;
    height: auto;
  }

  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
}